<h2>Blogs</h2>
<p id="notice"><%= notice %></p>
<div>
  <% @blogs.each do |blog| %>
    <div>
      <p><%= link_to blog.title, blog_path(blog) %></p>
      <p><%= blog.body %></p>
      <p><%= link_to blog.status.capitalize, toggle_blog_status_blog_path(blog) %></p>
      <p><%= link_to 'Show', blog %></p>
      <%= link_to 'Edit', edit_blog_path(blog) %>
      <%= link_to 'Delete', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
      <hr>
    </div>
  <% end %>
</div>
<br>
<%= link_to 'Create new Blog', new_blog_path %>
