<div class="col-md-8 blog-main">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3><%= @blog.title %></h3>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item ml-3">
              <%= link_to "Home", root_path %>
            </li>
            <li class="breadcrumb-item">
              <%= link_to @blog.topic.name, topic_path(@blog.topic.id) %>
            </li>
            <li class="breadcrumb-item">
              <%= @blog.title %>
            </li>
            <li class="ml-auto">
              <%= render :partial => "blog_admin_access", locals: {blog: @blog, status: false } %>
            </li>
          </ol>
        </nav>
      </nav>
      <p><%= @blog.body %></p>
      <hr>
    </div>
  </div>
</div>
</div>
