
<%= form_with(model: @portfolio, local: true) do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
    <p>
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle %>
  </p>

  <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>

  <h5>Technologies</h5>
  <%= f.fields_for :technologies do |t| %>
    <p>
      <%= t.label :name %>
      <%= t.text_field :name %>
    </p>
  <% end%>


  <%= f.submit %>

<% end %>
