<h3><%= link_to portfolio_item.title, portfolio_path(portfolio_item) %></h3>
<p><%= time_ago_in_words(portfolio_item.created_at) %> ago</p>
<h4><%= portfolio_item.subtitle %></h4>
<p><%= portfolio_item.body %></p>
<%= image_tag (portfolio_item.thumb_image) if portfolio_item.thumb_image %>
<%= link_to "Edit ", edit_portfolio_path(portfolio_item) if logged_in?(:site_admin) %>
<%= link_to "Show ", portfolio_path(portfolio_item)  %>
<%= link_to "Delete ", portfolio_path(portfolio_item), method: :delete, data: {confirm: "Are you sure ?"} if logged_in?(:site_admin) %>
