<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <p><%= "Hi, " + current_user.first_name  %></p>


     <%= render 'shared/nav', {layout: "Blogs"}%> 

    <br>
    <%= check_login_nav %>
    
    <%= yield %>
    
    <%= session_source %>    
  
  </body>
</html>
