<!DOCTYPE html>
<html>
  <head>
    <%= render :partial => "layouts/shared_header", locals: { page_title: @page_title, layout_css: "blogs" } %>
  </head>
  <body>
    

    <%= render 'shared/blogs/blog_nav' %>
    <%= alerts %>
    <main role="main" class="container">
      <div class="row">
          <%= yield %>
          <%= render 'shared/blogs/blog_aside'%>
      </div>
    </main  
    
    
    <%= session_source %>
  </body>
</html>
