<!DOCTYPE html>
<html>
  <head>
    <%= render :partial => "layouts/shared_header", locals: { page_title: @page_title, layout_css: "portfolios" } %>
  </head>
  <body>

    <%= render 'shared/portfolios/portfolio_nav' %>
    <%= alerts %>
    <main role="main">
      <%= render 'shared/portfolios/portfolio_masthead' %>
      <%= yield %>
      <%#= render 'shared/portfolios/portfolio_footer' %>
      <%= session_source %>    
    </main>
  
  </body>
</html>
